* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: white;
  /* position: fixed; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}

.dropdown a:hover{
  color: orangered;
  text-decoration: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: orangered;
}
.dropdown-content i{ 
  position: absolute; 
  right: 15px; 
  top: 18px;
  color: orangered; 
  float: right;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* nested dropdown */
.dropdown-content .nested-dropdown .nested-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f1f1f1; 
  padding: 2px; 
}


  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* hero section  */
  .hero h1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(34, 34, 34);
    font-size: 60px;
    margin-top: 24.5%;
}
.down {
    width: 100%;
    height: 190px;
    text-align: center;
    background-color: lightgray;
}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1; 
}

.careers1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 360px
}
.about,
.raw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4%;
    gap: 50px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh; /* Set the height to 100% of the viewport height */
    background-color: white;
    color: black;
}
.features {
    display: flex;
    padding: 3%;
    margin: 2%;
    align-items: center;
}

.features .para {
    width: 50%;
}

.para p {
    font-size: 20px;
    font-weight: 400;
}

.para a{
    text-decoration: none;
    font-size: 20px;
}
.para a:hover{
    color: rgb(192, 81, 81);
    text-decoration: underline;
}
.features .p-img {
    width: 50%;
    
}
.imgs2 {
    width: 100%; 
    margin: 0 auto; 
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.features2 {
    display: flex;
    padding: 3%;
    margin: 2%;
    align-items: center;
}

.features2 .para {
    width: 50%;
    margin-left: 90px;
}

.para p {
    font-size: 20px;
    font-weight: 400;
}

.para a{
    text-decoration: none;
    font-size: 20px;
}
.para a:hover{
    color: rgb(192, 81, 81);
    text-decoration: underline;
}
.features2 .p-img {
    width: 50%;   
}












/*footer part */
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4%;
    background-image: url('images/footerbg.jpg');
  }
  
  .icons i {
    margin: 0 5px;
    font-size: 10px;
    color: white; 
    background-color: rgb(255, 77, 0); 
    padding: 10px; 
    border-radius: 50%; 
  }
  
  .links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
  }
  
  .link1{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .link1:hover{
    color: #ff5100;
  }
  
  .icons{
    color: #ff5100;
  }
  /* company dropdown */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f1f1f1;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }