* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    width: 100%;
    background-color: white;
    /* position: fixed; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
  }
  
  .dropdown a:hover{
    color: orangered;
    text-decoration: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: orangered;
  }
  .dropdown-content .fas-fa-greater-than{
    float: right;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* nested dropdown */
  .dropdown .dropdown-content .nested-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f1f1f1; 
    padding: 2px; 
  }
  .dropdown-content .nested-dropdown:hover .nested-content {
    display: block;
  }
  /*hero section  */
  .hero h1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(34, 34, 34);
    font-size: 60px;
    margin-top: 24.5%;
}
.down {
    width: 100%;
    height: 190px;
    text-align: center;
    background-color: lightgray;
}
.container {
    text-align: center;
  }
 /* news */

 /* .pic{
  width: 600px;
  height: auto;
  overflow: hidden;
} */

.row{
  display: inline-block;
}
.row1{
  display: inline-block;
}
.pic img {
  width: 550px;
  height: 378px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  flex: 50%;
  padding: 5px;
  margin-left: 140px;
}
.pic h3{
  margin-left: 140px;
}
.pic1 h3{
  margin-left: 140px;
}
.pic img:hover {
  width: 580px;
  opacity: 0.6;
  background: rgb(167, 121, 121);
}
.pic1 img {
  width: 550px;
  height: 378px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: all ease-in-out 0.3s;
  flex: 50%;
  padding: 5px;
  margin-left: 140px;
}

.pic1 img:hover {
  width: 580px;
  opacity: 0.6;
  background: rgb(167, 121, 121);
}






/* footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4%;
    color: black;
  }
  
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }
  
  .link1 {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .link1:hover {
    color: #ff5100;
  }
  
  .icons {
    color: #ff5100;
  }
  .copy{
    color: black;
  }
  
  