* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    width: 100%;
    background-color: white;
    /* position: fixed; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-decoration: none;
  }
  
  .dropdown a:hover{
    color: orangered;
    text-decoration: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: orangered;
  }
  .dropdown-content i{ 
    position: absolute; 
    right: 15px; 
    top: 18px;
    color: orangered; 
    float: right;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* nested dropdown */
  .dropdown .dropdown-content .nested-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f1f1f1; 
    padding: 2px; 
  }
  .dropdown-content .nested-dropdown:hover .nested-content {
    display: block;
  }
  
  /* product & technologies */
  
  #submenu2 ul{
    position: relative;
    width: auto;
    list-style: none;
  }
  
  #submenu2 {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    top: 6.7rem;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgb(240, 240, 240);
    padding: 3rem 3rem 3rem 1.5rem;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.188);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s; 
  }
  
  #submenu2 .fifth img{
    width: 420px;
    height: auto;
    position: relative;
  }
  
  #submenu2 .fifth .resources{
    max-width: 22%;
    position: absolute;
    color: white;
    top: 18%;
    right: 9%;
  }
  
  #submenu2 .fifth .resources a{
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
  }
  
  
  
  #submenu2 .heading{
    font-weight: bold;
  }
  
  #submenu2 li{
    margin-bottom: 0.7rem;
  }
  
  .nav-right a:hover + #submenu2 {
    visibility: visible;
    opacity: 1;
  }
  
  #submenu2:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s;
  }
  
  .slider {
    height: 700px;
  }
  
  .slide:nth-child(1) {
    background-image: url('images/hero.jpg');
  }
  
  .slide:nth-child(2) {
    background-image: url('images/hero.jpg');
  }
  .btn1 {
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: #fff;
  }
  
  .img1 {
    position: absolute;
  }
  
  .content {
    position: relative;
    color: white;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 5%;
  }
  
  
  .threebox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
  }
  
  
  .box-img {
    height: 300px;
    overflow: hidden;
  }
  
  .box-img img {
    transition: transform .5s ease;
  }
  
  .box-img:hover img {
    transform: scale(1.5);
    opacity: 0.4;
    background: #ff5100;
  }
  .overview, .leadership, .products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding: 2%;
  }
  
  .p1 {
    font-size: 30px;
    font-weight: 400;
  }
  
  .p2 {
    font-size: 18px;
  }
  
  .p3 {
    color: #ff5100;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .careers{
    background-color: rgb(221, 216, 216);
  }
  
  
  .custom,.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4%;
    gap: 50px;
  }
  
  .slider1{
    padding: 3%;
    background-color: lightgray;
  }
  
  .img-list{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 5%;
  }
  
  .img-item{
    width: 100px;
    height: 50px;
  }
  
  
  
  .section1{
    height: 300px;
    overflow: hidden;
  }
  .logo-carousel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    gap: 9%;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
  }
  
  
  
  .prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    color: white;
    z-index: 1;
  }
  
  .prev {
    left: 3px;
  }
  
  .next {
    right: 3px;
  }
  
  .slide button {
    font-weight: 700;
    transition: all ease-in-out 0.3s;
  }
  
 
  .hero h1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(34, 34, 34);
    font-size: 60px;
    margin-top: 24.5%;
}

.hero-bt {
    display: flex;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 70px;
    align-items: center;
}

.hero-bt button {
    width: 95px;
    height: 70px;
    border: none;
    background-color: rgb(248, 245, 245);
}

.hero-bt .bt1,
.bt2 .bt3 .bt4 .bt5 .bt6 .bt7,
button:hover {
    background-color: orangered;
    color: #fff;
}
.hero-bt .bt1,
.bt2 .bt3 .bt4 .bt5 .bt6 .bt7{
    margin: 10px;
    display: inline-block;
}
.hero-bt .bt1 {
    margin-left: 30%;
}

.hero-bt .bt2 {
    margin-left: 0;
}

.hero-bt .bt3 {
    margin-left: 0;
}
.hero-bt .bt4 {
    margin-left: 0;
}

.hero-bt .bt5 {
    margin-left: 0;
}
.hero-bt .bt6 {
    margin-left: 0;
}

.hero-bt .bt7 {
    margin-right: 20%;
}
  
.hero h1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(34, 34, 34);
    font-size: 60px;
    margin-top: 24.5%;
}
.down {
    width: 100%;
    height: 190px;
    text-align: center;
    background-color: lightgray;
}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1; 
}

.careers1 {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 360px
}
.about,
.raw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4%;
    gap: 50px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 7%;
}
.cont p{
    margin-left: 10%;
    margin-right: 10%;
}
.features {
    display: flex;
    padding: 3%;
    margin: 2%;
    align-items: center;
    height: 50vh;
}

.features .para {
    width: 50%;
}

.para p {
    font-size: 20px;
    font-weight: 400;
}

.para a{
    text-decoration: none;
    font-size: 20px;
}
.para a:hover{
    color: rgb(192, 81, 81);
    text-decoration: underline;
}
.features .p-img {
    width: 50%;
    
}
.imgs2 {
    width: 100%; 
    margin: 0 auto; 
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.features2 {
    display: flex;
    padding: 3%;
    margin: 2%;
    align-items: center;
    height: 50vh;
}

.features2 .para {
    width: 50%;
    margin-left: 90px;
}

.para p {
    font-size: 20px;
    font-weight: 400;
}

.para a{
    text-decoration: none;
    font-size: 20px;
}
.para a:hover{
    color: rgb(192, 81, 81);
    text-decoration: underline;
}
.features2 .p-img {
    width: 50%;   
}
 
  .down {
    width: 100%;
    height: 190px;
    text-align: center;
    background-color: lightgray;
}
  /*footer part */
  .footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4%;
    background-image: url('images/footerbg.jpg');
  }
  
  .icons i {
    margin: 0 5px;
    font-size: 10px;
    color: white; 
    background-color: rgb(255, 77, 0); 
    padding: 10px; 
    border-radius: 50%; 
  }
  
  .links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
  }
  
  .link1{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .link1:hover{
    color: #ff5100;
  }
  
  .icons{
    color: #ff5100;
  }
  